@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
  background-color: #1B2F35;
}

.page-footer{
  background-color: #1F4817;
  padding-top: 5vh;
  padding-bottom: 2vh;
  height: 20vh;
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.page-footer h3{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  margin-top: 10px;
  color: #F3EBB6;
}

img{
  height: 12vh;
  position: absolute;
  bottom: 25vh;
  width: 100vw;
  left: 0;
}

iframe{
  width: 50vw;
  height: 9vh;
  border-radius: 25px;
  border: solid 4px #9BA87F;
}

button{
  top: 50vh;
  position: absolute;
}

.fire-fly{
  position: relative;
  background: #ebff11;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.fire-fly::before{
  content: "";
  position: absolute;
  background: gray;
  transform: rotateZ(-30deg);
  top: -5px;
  left: -2px;
  width: 2px;
  height: 10px;
  display: block;
  border-radius: 100%;
  border: 5px solid gray;
  z-index: -1;
}

.fire-fly::after{
  content: "";
  position: absolute;
  background: gray;
  transform: rotateZ(30deg);
  top: -5px;
  right: -2px;
  width: 2px;
  height: 10px;
  display: block;
  border-radius: 100%;
  border: 5px solid gray;
  z-index: -1;
}

.pulse{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #ebff11;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  animation: pulse 4000ms linear infinite;
}
@keyframes pulse
{
  0%{
    transform: scale (1);
    opacity: 0;
  }

  50%{
    transform: scale(2);
    opacity: .6;
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}

.heading {
  z-index: -1;
  font-size: 7em;
  position: absolute;
  right: 0;
  font-family: 'Sacramento', sans-serif;
  color: #F3EBB6;
}
